@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="text-center">
    <h1>DAY-11</h1>
    <h2>Dependency Injection</h2>
    <p>this page is created for Service Registration practicing in Asp.net Core</p>
    <p>@ViewBag.Message</p>
    </div>
}
