@{
    ViewData["Title"] = "Student Info";
}

<div class="text-center">
    <h1>DAY-12</h1>
    <h2>Configuration</h2>
    <h2>This is student page created for practicing in Configuration</h2>

    <p>Application: @ViewBag.AppName</p>
</div>
